body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #1e1e1e;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.login-form button:hover {
    background-color: #2980b9;
}

#catalog-section {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    align-items: center;
    padding: 10px;
    background-color: #1e1e1e;
    color: white;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 95px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: white;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color: #f39c12;
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }

    nav {
        padding: 10px 0px;
    }
}

#search-form {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#search-bar {
    padding: 10px;
    width: 80%;
    max-width: 500px;
    border: none;
    border-radius: 5px;
}

#search-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f39c12;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

#search-form button:hover {
    background-color: #e67e22;
}

#filters {
    margin: 20px auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.filter {
    display: flex;
    align-items: center;
}

.filter label {
    margin-right: 10px;
    font-weight: bold;
}

#game-catalog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 20px auto;
    max-width: 1200px;
    padding: 0 20px;
}

.game-item {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.game-item:hover {
    transform: scale(1.05);
}

.game-item img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.game-item h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #1e1e1e;
}

.availability {
    font-weight: bold;
    margin: 5px 0;
}

.game-item button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.game-item button:hover {
    background-color: #2980b9;
}

#rewards-section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1200px;
}

#rewards-section h2 {
    text-align: center;
    color: #1e1e1e;
}

.reward-item {
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.reward-item h3 {
    margin: 0;
    color: #1e1e1e;
}

/* Estilos para el menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    cursor: pointer;
    font-weight: 600;
    padding-right: 10px;
    color: white;
    text-decoration: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color:#f39c12 ;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown-menu a {
    color: black;
    padding: 8px 12px;
    display: block;
    text-decoration: none;
    font-weight: 600;
}

.dropdown-menu a:hover {
    background-color: white;
}


#inicio{
    text-align: center;
}

#sobre-nosotros {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1200px;
}

#contacto{
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
    color: white;
    margin-top: 40px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
    color: white;
    margin-top: 40px;
}